// Specific CSS for your home-page

.container {
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
}

.slogan {
  color: #fff;
  font-size: 3.5rem;
  line-height: 6rem;
}

.page-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  }
