// Specific CSS for your home-page

.container {
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  background-image: url("https://res.cloudinary.com/dgjvosgwy/image/upload/v1672664108/bg2_cb6axn.jpg");
}

.slogan {
  color: #fff;
  font-size: 3.5rem;
  line-height: 6rem;
}
