<div class="footer fixed-bottom bg-transparent">
  <div class="footer-copyright">
    Created by Giovanni Barros
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
  </div>
</div>
