<header class="d-flex justify-content-start align-items-center">
<div class="call-to-action ms-5 py-5 px-5">
  <h1 class="slogan">Extend your limits,<br>travel the galaxy,<br>rent your astro.</h1>
  <%= link_to "getStarted", new_user_session_path, class: "btn btn-space mt-3" %>
</div>
</header>
