.btn-space {
  text-align: center;
  line-height: 1rem;
  color: #000 !important;
  font-size: 1.2rem !important;
  text-decoration: none;
  box-sizing: border-box;
  background: linear-gradient(90deg, rgb(233, 233, 230), $blue);
  border-radius: 1rem !important;
  padding-right: 1.2rem !important;
  padding-left: 1.2rem !important;
}

.btn-cta {
  display: block;
}
