.btn-space {
  text-align: center;
  line-height: 1rem;
  color: #fff !important;
  font-size: 1.2rem !important;
  text-decoration: none;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid #fff !important;
  border-radius: 0.2rem !important;
  padding-right: 1.2rem !important;
  padding-left: 1.2rem !important;
}

.btn-cta {
  display: block;
}
