.btn-space {
  text-align: center;
  line-height: 1rem;
  color: #fff !important;
  font-size: 1.2rem !important;
  text-decoration: none;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid #fff !important;
  border-radius: 0.2rem !important;
  padding-right: 1.2rem !important;
  padding-left: 1.2rem !important;
  transition: 0.2s;
}

.btn-space:hover {
  background-color: #31AEBF;
  box-shadow: 0 0 10px #31AEBF, 0 0 40px #31AEBF, 0 0 80px #31AEBF;
  border: 1px solid #31AEBF !important;
}

.btn-cta {
  display: block;
}

.btn-back {
  position: absolute;
  right: 4%;
  bottom: 6%;
}
