.astro-img {
  width: 100%;
  border: 1px solid red;
}

.astro-card {
  border: 1px solid #fff;
  padding: 12px;
}

// .astros-card {
//   display: grid !important;
//   grid-template-columns: 1fr 1fr 1fr 1fr !important;
//   grid-gap: 20px !important;
// }
