.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 0;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem;
}

.card-body {
  border: 1px solid #fff;
  border-radius: 1rem;
}

.card-img {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 1rem !important;
}

.price-info {
  font-size: 1.2rem;
}
